extends ..\layout.pug

block content

    h1= 'Usuários'
    <br>
    div
   

     ul
         each user in users  
            a(href="")  
                li=user   
                    a(href=`/user/delete/${user}`) 
                       button() Remover
                    a(href=`/user/edit/${user}`) 
                       button() Editar     
                       <br><br> 
         else 
                li='Nenhum Usuário cadastrado'                                    
     a(href="/user/create")  
         button() Adicionar        

        
             